{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Kortlek</h1>

<p>Här visas samtliga kort i kortleken i ordning.</p>

<div class="cards">
    {% for cardData in cardDeck %}
        <span style="color: {{ cardData.color }}">{{ cardData.string }}</span>
    {% endfor %}
    </div>
{% endblock %}
