{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>

<p>Välkommen till detta kortspel,för att läsa mer går gärna in på denna hemsidan
<a href="https://sv.wikipedia.org/wiki/Kortlek"> 
Till Wikipedia</a>.</p>

{% endblock %}