{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<img src="{{ asset('images/elefant.png') }}" alt="En elefant" class="picture">
<h1>About</h1>
<p>I MVC kursen eller Objektorienterade webbteknologier, så kommer vi får lära oss hur objektorienterade konstruktioner
    hanteras tillsammans med objektorienterad programmering. Vi kommer jobba med programmeringstekniker i PHP.</p>
    </a>

{% endblock %}