{% extends "base.html.twig" %}

{% block title %}API Index{% endblock %}

{% block body %}
    <h1>API Index</h1>
    <p>Welcome to the API Index page.</p>
        <div>
            <p><a href="http://localhost:8888/api/quote">Link</a></p>
            <p>Please click and you will be granted a beautiful quote</p>
        </div>
{% endblock %}