{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<img src="{{ asset('images/linnbild.jpg') }}" alt="En bild på Linn" class="image">
    <h1>Home</h1>
<h3>Hej! och välkommen till min presentationssida!</h3>
<p>Mitt namn är Linn Christiansson och detta är min webbplats i kursen MVC. 
Jag läser webbprogrammering här på campus. Jag jobbar även extra som receptionist på friskis och svettis här i karlskrona.
Jag är intresserad av att spela spel, träning och att vara ute naturen. 
</p>
{% endblock %}