{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<img src="{{ asset('images/linnbild.jpg') }}" alt="En bild på Linn" class="image">
    <h1>Home</h1>
<h3>Hej! och välkommen till min presentationssida!</h3>
<p>Mitt namn är Linn Christiansson och detta är min webbplats i kursen MVC. 
Jag läser webbprogrammering här på campus. Jag jobbar även extra som receptionist på friskis och svettis här i karlskrona.
Jag är intresserad av att spela spel, träning och att vara ute naturen. 
</p>
<h3>Hur fungerar klasserna?</h3>
<p>Klasserna i detta prodjektet har en Card-klass där klassen CardGraphic ärver ifrån Card-klassen och CardDeck är i komposition till Card-klassen.</p>
<p>Det flesta funktionerna i klasserna är publica så jag kan nå dem utanför klassen. Men jag har även några privata funktioner som initializeDeck i CardDeck-klassen och representation i CardGraphic-klassen.</p>
<p>Jag använder de olika funktionerna för att klara kraven som att shuffla kortleken, plocka upp kort och för att nollställa sessionen eller kolla hur många kort som är kvar.</p>
<img src="{{ asset('images/mvckmom02.png')}}" alt="En bild på klassdiagrammet" class="diagram">

</p>
{% endblock %}