{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>

    <nav>
        <ul>
            <li><a href="#kmom01">Kmom01</a></li>
            <!--Lägg till fler kursmoment med tiden-->
        </ul>
    </nav>

    <p id="kmom01">
        <h3>Kmom01</h3>
        <p>Mina förkunskaper inför denna kursen måste vara att man har jobbat med twig i design-kursen, php i webbtec-kursen samt kursen objektorgentering med python.</p>

            <p>PHPs modeller för klasser och objekt fungerar att man skapar en klass. Till exempel i koden LuckyController så heter klassen LuckyControllerTwig och ärver från klassen AbstractController (extends). I PHP kan man även använda arv men bara till en annan klass.</p>
            
            <p>I me/report använder jag en blandning av Symfony och Twig. Jag använder en kontrollerclass ("LuckyControllerTwig") och från AbstactController som kommer ifrån Symfony.
            I LuckyControllerTwig.php så skapar jag en Route "/report" som definera ett unikt namn för routern. Jag skapar en länk till report.html.twig. HTML sidan skapas genom twig och symfony när report routern besöks.
            Jag uppfattade en som ett väldigt smidigt sätt att skapa olika vägar då det var inte så avancerat. Läste även att symfony var väldigt populärt att använda och det förstår man.</p>
            
            <p>Artiklen PHP the right way tyckte jag just för detta kursmomentet nog att biten getting started var viktigast och mest instressant. Men tänkte gå tillbaka i manualen när man känner sig lite vilsen eller behöver söka efter något för nu skollade jag bara igenom resten av manualen.</p>
            
            <p>Mitt TIL för detta kursmomentet måste vara grunderna i hur symfony funkar samt hur klasser och objekt förhåller sig till varandra. Samt hur man verkligen förstod vad man håller på med att ska routers och lägga in olika responses.
            roligt att få leka runt och testa de olika funktionerna och se hur det blir på webbklienten.</p>
    </section>
    <!--Lägg till fler <section> för fler kursmoment samt id -->
{% endblock %}